@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
}

.box {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}

.box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #28c101;
}

.box p {
    font-size: 1rem;
    font-weight: 300;
    color: #c2c2c2;
}

.dollar-signs {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.box:hover .dollar-signs {
    opacity: 1;
}

.dollar-signs::before,
.dollar-signs::after {
    content: "$ $ $ $ $ $ $ $ $ $";
    position: absolute;
    font-size: 16px;
    line-height: 1;
    color: #00c66b;
    opacity: 0;
    transition: opacity 0.3s;
}

.box:hover .dollar-signs::before,
.box:hover .dollar-signs::after {
    opacity: 0.3;
}

.dollar-signs::before {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.dollar-signs::after {
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.author-name {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #00c66b;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  